<!DOCTYPE html>
<html>
  <head>
    <title>Info</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>{{profile_nickname}}</h1>
    <img src = "{{profile_image}}">
  </body>
</html>
